.webLogo{
    width: 20%;
}

.programmer{
    width: 40%;
}

.title{
    font-size: 2em;
}


.presentation-text{
    font-size: 1.5em;
}

.vision-text{
    max-width: 300px;
}

.left-arrow-vision{
    width: 20%;
}

.click-vision{
    padding-top: 10px;
}

.color-bg{
    color: blue;
}


.vision-bg{
    width: fit-content;
}


.contact-btn{
    font-size: 1.5em;
}

/* Footer */

.foooter-row{
    justify-content: space-evenly;
}

.scroll-up-btn{
    width: 50px;
}

